# .gitignore file for python, vscode, and jupyter notebooks 

/vscode
.ipynb_checkpoints
__pycache__
*.py[cod]
*$py.class
*.so
*.egg
*.egg-info
dist
build

venv/
/.secret
/.venv
/.env
env/
ENV/
env.bak/








